@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --font-primary: 'DM Sans', sans-serif;
    --font-secondary: 'Poppins', sans-serif;
    --color-primary: #16302B;
    --color-secondary: #1A1A40;
    --color-light: #FFFFFF;
    --color-dark: #16302B;

}

.hide-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 0.8s;
}

.show-left {
    opacity: 1;
    transform: translateX(0);
}

.hide-right {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.8s;
}

.show-right {
    opacity: 1;
    transform: translateX(0);
}

.hide-top {
    opacity: 0;
    transform: translateY(-100%);
    transition: all 0.8s;
}

.show-top {
    opacity: 1;
    transform: translateY(0);
}

.hide-bottom {
    opacity: 0;
    transform: translateY(100%);
    transition: all 0.8s;
}

.show-bottom {
    opacity: 1;
    transform: translateY(0);
}

.hide-top-long {
    transform: translateY(-100%);
    transition: all 1s;
}

.show-top-long {
    transform: translateY(0);
}